{% load i18n cms_tags %}




<div class="bannerscollection_zoominout_text_line"
  data-initial-left="{{ instance.initial_left }}"
  data-initial-top="{{ instance.initial_top }}"
  data-final-left="{{ instance.final_left }}"
  data-final-top="{{ instance.final_top }}"
  data-duration="{{ instance.duration }}"
  data-fade-start="{{ instance.fade_start }}"
  data-delay="{{ instance.delay }}"
  {% if instance.easing is not None %}data-easing="{{ instance.easing }}"{% endif %}
  {% if instance.css3_animation is not None %}data-css3-animation="{{ instance.css3_animation }}"{% endif %}
  {% if instance.intermediate_left is not None %}data-intermediate-left="{{ instance.intermediate_left }}"{% endif %}
  {% if instance.intermediate_top is not None %}data-intermediate-top="{{ instance.intermediate_top }}"{% endif %}
  {% if instance.intermediate_duration is not None %}data-intermediate-duration="{{ instance.intermediate_duration }}"{% endif %}
  {% if instance.intermediate_delay is not None %}data-intermediate-delay="{{ instance.intermediate_delay }}"{% endif %}
  {% if instance.intermediate_easing is not None %}data-intermediate-easing="{{ instance.intermediate_easing }}"{% endif %}
  {% if instance.intermediate_css3_animation is not None %}data-intermediate-css3-animation="{{ instance.intermediate_css3_animation }}"{% endif %}
  {% if instance.exit_left is not None %}data-exit-left="{{ instance.exit_left }}"{% endif %}
  {% if instance.exit_top is not None %}data-exit-top="{{ instance.exit_top }}"{% endif %}
  {% if instance.exit_duration is not None %}data-exit-duration="{{ instance.exit_duration }}"{% endif %}
  {% if instance.exit_delay is not None %}data-exit-delay="{{ instance.exit_delay }}"{% endif %}
  {% if instance.exit_fade is not None %}data-exit-fade="{{ instance.exit_fade }}"{% endif %}
  {% if instance.exit_easing is not None %}data-exit-easing="{{ instance.exit_easing }}"{% endif %}
  {% if instance.exit_off is not None %}data-exit-off="{{ instance.exit_off }}"{% endif %}
  {% if instance.exit_css3_animation is not None %}data-exit-css3-animation="{{ instance.exit_css3_animation }}"{% endif %}
>
  <div class="lbg_inner_div" style="border-width:0px;border-style:solid;">
{% for plugin in instance.child_plugin_instances %}
    {% render_plugin plugin %}
{% endfor %}
  </div>
</div>
