{% load i18n cms_tags sekizai_tags %}







{% addtoblock 'js' %}
<script type="text/javascript">
jQuery(function() {
  let layers = jQuery("#slideshow-{{ instance.id }} .bannerscollection_zoominout_texts").detach();
  layers.appendTo("#slideshow-{{ instance.id }}");
  jQuery("#slideshow-{{ instance.id }}").bannerscollection_zoominout({
    skin: "{{ instance.skin }}",
    width: {{ instance.width }},
    height: {{ instance.height }},
    width100Proc: {{ instance.width_100_proc|yesno:"true,false" }},
    height100Proc: {{ instance.height_100_proc|yesno:"true,false" }},
    responsive: {{ instance.responsive|yesno:"true,false" }},
    responsiveRelativeToBrowser: {{ instance.responsive_relative_to_browser|yesno:"true,false" }},
    setAsBg: {{ instance.set_as_bg|yesno:"true,false" }},
    autoPlay: {{ instance.auto_play }},
    loop: {{ instance.loop|yesno:"true,false" }},
    fadeSlides: {{ instance.fade_slides|yesno:"true,false" }},
    horizontalPosition: "{{ instance.horizontal_position }}",
    verticalPosition: "{{ instance.vertical_position }}",
    initialZoom: "{{ instance.initial_zoom }}",
    finalZoom: "{{ instance.final_zoom }}",
    duration: {{ instance.duration }},
    // durationIEfix: 30,
    zoomEasing: "{{ instance.zoom_easing }}",
    target: "_blank",
    pauseOnMouseOver: {{ instance.pause_on_mouse_over|yesno:"true,false" }},
    showPauseButton: {{ instance.show_pause_button|yesno:"true,false" }},
    showAllControllers: {{ instance.show_all_controllers|yesno:"true,false" }},
    showNavArrows: {{ instance.show_nav_arrows|yesno:"true,false" }},
    showOnInitNavArrows: {{ instance.show_on_init_nav_arrows|yesno:"true,false" }},
    autoHideNavArrows: {{ instance.auto_hide_nav_arrows|yesno:"true,false" }},
    showBottomNav: {{ instance.show_bottom_nav|yesno:"true,false" }},
    showOnInitBottomNav: {{ instance.show_on_init_bottom_nav|yesno:"true,false" }},
    autoHideBottomNav: {{ instance.auto_hide_bottom_nav|yesno:"true,false" }},
    showPreviewThumbs: {{ instance.show_preview_thumbs|yesno:"true,false" }},
    enableTouchScreen: true,
    absUrl: "",
    scrollSlideDuration: {{ instance.slide_duration }},
    scrollSlideEasing: "{{ instance.scroll_slide_easing }}",
    defaultEasing: "{{ instance.layer_default_easing }}",
    myloaderTime: {{ instance.myloader_time }},
    showPauseButton: {{ instance.show_circle_timer|yesno:"true,false" }},
    showCircleTimer: {{ instance.show_circle_timer|yesno:"true,false" }},
    circleRadius: {{ instance.circle_radius }},
    circleLineWidth: {{ instance.circle_linewidth }},
    circleColor: "{{ instance.circle_color }}",
    circleAlpha: {{ instance.circle_alpha }},
    behindCircleColor: "{{ instance.behind_circle_color }}",
    behindCircleAlpha: {{ instance.behind_circle_alpha }},
    numberOfThumbsPerScreen: {{ instance.number_of_thumbs_per_screen }},
    thumbsWrapperMarginTop: -50,
    hideControlsUnder: 0,  // {# always show controls #}
    thumbsOnMarginTop: {{ instance.thumbs_on_margin_top }},
    defaultExitLeft: {{ instance.default_exit_left }},
    defaultExitTop: {{ instance.default_exit_top }},
    defaultExitDuration: {{ instance.default_exit_duration }},
    defaultExitFade: {{ instance.default_exit_fade }},
    defaultExitDelay: {{ instance.default_exit_delay }},
    defaultExitEasing: "{{ instance.default_exit_easing }}",
    defaultExitOFF: {{ instance.default_exit_off|yesno:"true,false" }}
  });
});
</script>
{% endaddtoblock %}


<div class="slideshow" id="slideshow-{{ instance.id }}" >
  <div class="myloader"></div>
  <ul class="bannerscollection_zoominout_list">
{% for plugin in instance.child_plugin_instances %}
    {% render_plugin plugin %}
{% endfor %}
  </ul>
</div>
